<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="MvvmCross.BindingsSamples.AdvancedRecyclerView.MvvmCross.BindingsSamples.AdvancedRecyclerView" android:versionCode="1" android:versionName="1.0">
  <uses-sdk android:minSdkVersion="16" />
  <application android:label="MvvmCross.BindingsSamples.AdvancedRecyclerView"></application>
</manifest>